@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

.pinstripe {
    /* background: #040005; */
    background-image: url("../assets/pinstripe-light.png");
    background-repeat: repeat;
}